body{
    background-color: #00000e;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.glass-table {
  margin: auto;
  display: inline-flex;
  gap: 1rem;
  padding: 1.5rem 2rem;

  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.03)
  );
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border-radius: 20px;

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.45),
    inset 0 0 0 1px rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
}